*.pyc
*.log
env
build
migrations
runtests
.coverage
404.html
500.html
media/
logs/
federated-analytics.js

.vagrant

# Local Configuration Files
*.conf
celeryd.conf
supervisord.conf
lrs/celery.py
adl_lrs/settings.py
ansible/secure
