Django==1.4
gunicorn==0.14.2
pycrypto==2.5
pytz==2012c
ssh==1.7.13
supervisor==3.0a12
uuid==1.30
wsgiref==0.1.2
lxml==2.3.4
bencode==1.0
oauth2==1.5.170
psycopg2
isodate==0.4.9
python-dateutil==1.5
South
unipath