Django==1.4
MySQL-python==1.2.3
URLObject==2.0.1
django-uuidfield==0.2
djangorestframework==0.3.3
gunicorn==0.14.2
meld3==0.6.8
pycrypto==2.5
pytz==2012c
ssh==1.7.13
supervisor==3.0a12
uuid==1.30
wsgiref==0.1.2
lxml==2.3.4
bencode==1.0
oauth2==1.5.170
psycopg2
isodate==0.4.9
python-dateutil==1.5