{% extends "base.html" %}
{% block content %}
<div class="alert alert-danger" role="alert">ATTENTION: Because of the upcoming Plugfest, all current statement data will be removed from the LRS on October 31, 2014. If you want to preserve your data please make sure to visit your home page to download your statements.</div>
<a href="https://github.com/adlnet/ADL_LRS" target="_blank"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="{{ STATIC_URL }}/img/forkme.png" alt="Fork me on GitHub"></a>
<div class="hero-unit">
  <img src="{{ STATIC_URL }}/img/xAPI-transparent_300px.png" style="height:50px; width:auto;" class="pull-right" alt="experience api logo"/>
  <h2>Welcome to the ADL Learning Record Store</h2>
  <p>This Learning Record Store (LRS) is a reference implementation of an LRS as 
     described in the <a href="https://github.com/adlnet/xAPI-Spec/blob/master/xAPI.md#experience-api" target="_blank" alt="experience api spec">
     Experience API Specification</a>.
  </p>
  <h4>Current LRS Stats</h4>
  <div class="row">
    <div class="span2 text-center">
    <h4>Users</h4>
    <h4>{{ stats.usercnt }}</h4>
    </div>
    <div class="span2 text-center">
    <h4>Statements</h4>
    <h4>{{ stats.stmtcnt }}</h4>
    </div>
    <div class="span2 text-center">
    <h4>Agents</h4>
    <h4>{{ stats.agentcnt }}</h4>
    </div>
    <div class="span2 text-center">
    <h4>Verbs</h4>
    <h4>{{ stats.verbcnt }}</h4>
    </div>
    <div class="span2 text-center">
    <h4>Activities</h4>
    <h4>{{ stats.activitycnt }}</h4>
    </div>
  </div>
</div>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail text-center" style="padding-left:13px; padding-right:10px; height:210px">
      <h4>Sign up</h2>
      <p>Sign up for HTTP Basic Credentials</p>
      <p>Create a username and supply an email address with it</p>
      <p><a class="btn btn-primary" href="{% url lrs.views.register %}">register</a></p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail text-center" style="padding-left:13px; padding-right:10px; height:210px">
      <h4>Github Examples</h2>
      <p>Visit our GitHub prototype page to find some of the updated 1.0.1 prototypes. These prototypes can be configured to report to an LRS. See the <a href="https://github.com/adlnet/experienceapi_client_examples/tree/master/1.0/original_prototypes#original-prototypes" target="_blank">Readme</a> for more information.</p>
      <p><a class="btn pull-left" href="https://github.com/adlnet/experienceapi_client_examples" target="_blank">GitHub Prototypes</a><a class="btn btn-primary pull-right" target="_blank" href="/prototypes/">Launch</a></p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail text-center" style="padding-left:13px; padding-right:10px; height:210px">
      <h4>Statement Validator</h4>
      <p>Want to make sure your statement is valid? Check it here.
      </p>
      <p><a class="btn" href="{% url lrs.views.stmt_validator %}">go to validator</a></p>
    </div>
  </li>
</ul>
<ul class="thumbnails">
  <li class="span12">
  <div class="thumbnail" style="padding-left:13px;">
    <h4>OAuth Clients</h4>
      <p><ol>
          <li>By default, only HTTP Auth is enabled. To enable OAuth, set the 'OAUTH_ENABLED' flag to true
            in settings.py</li>                
          <li>Visit our client registration page</li>
          <li>Submit the name and description of the client you wish to authorize</li>
          <li>Once submitted, you will receive a client ID and client secret. Use these with the appropriate OAuth
            headers to perform the initial handshake to gain your temporary token. ({% url oauth_provider.views.request_token %}) <b>NOTE: If you are not familiar with OAuth, please consult the <a href="https://github.com/adlnet/xAPI-Spec/blob/master/xAPI.md">spec</a> and the OAuth 1.0 <a href="http://tools.ietf.org/html/rfc5849">RFC</a></b></li>
          <li>You'll then receive your request token. Use this when visiting the authentication page ({% url oauth_provider.views.user_authorization %}). An LRS OAuth ID will be issued to you for you to POST back to the authentication page from your client</li>
          <li>Once the client is authenticated, send the appropriate OAuth headers and values from your token to gain an access token.({% url oauth_provider.views.access_token %})</li>
          <li>You can now send this access token in with the OAuth headers when making calls to the LRS system</li>
        </ol>
      </p>
      <p><a class="btn" href="{% url lrs.views.reg_client %}">Register OAuth1 Client (3-legged process)</a></p>
      <p><a class="btn" href="{% url lrs.views.reg_client2 %}">Register OAuth2 Client (2-legged process)</a></p>
  </div>
  </li>
</ul>
{% endblock content %}
