{% extends "base.html" %}
{% block extra_css %}
<style>
  a {color:inherit;}
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none; }

  .home-top-content{
    border-bottom-style:dashed;
  }

  .home-icon{
    font-size:25em;
  }
</style>
<script>loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")</script>
<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></noscript>
{% endblock extra_css %}
{% block content %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">ADL Learning Record Store</h1>
        <p class="splash-subhead">
          Welcome to the ADL LRS. This is a reference implementation of an LRS as described in the 
          <a href="https://github.com/adlnet/xAPI-Spec/blob/master/xAPI.md#experience-api" target="_blank" alt="experience api spec"> Experience API Specification</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content home-top-content">
      <h2 class="content-head is-center">Current LRS Stats</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
          <h3 class="content-subhead is-center">Users</h3>
          <p class="is-center">
            {{ stats.usercnt }}
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
          <h3 class="content-subhead is-center">Statements</h3>
          <p class="is-center">
            {{ stats.stmtcnt }}
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
          <h3 class="content-subhead is-center">Agents</h3>
          <p class="is-center">
            {{ stats.agentcnt }}
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
          <h3 class="content-subhead is-center">Verbs</h3>
          <p class="is-center">
            {{ stats.verbcnt }}
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
          <h3 class="content-subhead is-center">Activities</h3>
          <p class="is-center">
            {{ stats.activitycnt }}
          </p>
        </div>      
      </div>
    </div>
  <div class="content">
    <h2 class="content-head is-center">Features</h2>
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead"><i class="fa fa-code"></i>Original GitHub Examples</h3>
        <p>
          Visit the original GitHub prototype page to find some of the first-built prototypes. Visit <a target="_blank" href="/prototypes/">here</a> to see them in action.
        </p>
        <p>
          <a class="pure-button pull-right" href="https://github.com/adlnet/experienceapi_client_examples" target="_blank">Prototypes</a>
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead"><i class="fa fa-eye"></i>Statement Viewer</h3>
        <p>
          Check out the new statement viewer! Visit our other new <a target="_blank" href="http://adlnet.github.io/">projects</a> to see what else is new.
        </p>
        <p>
          <a class="pure-button pull-right" target="_blank" href="http://adlnet.github.io/xapi-statement-viewer/">Launch</a>
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead"><i class="fa fa-check"></i>Statement Validator</h3>
        <p>
          Want to make sure your statement is valid? Validate it here so you're not sending bad statements!
        </p>
        <p>
          <a class="pure-button pull-right" href="{% url lrs.views.stmt_validator %}">Validate</a>
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead"><i class="fa fa-wrench"></i>ADL xAPI Tools</h3>
        <p>
          Check out all of the new and improved xAPI tools freely available on GitHub; including the LRS source code.
        </p>
        <p>
          <a class="pure-button pull-right" target="_blank" href="http://adlnet.github.io/">xAPI Tools</a>
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead"><i class="fa fa-mobile"></i>Android App</h3>
        <p>
          Check out the LRS in action on the Google Play Store. Download the app <a target="_blank" href="https://play.google.com/store/apps/details?id=org.adl.roses&hl=en">here</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <i class="fa fa-lock home-icon"></i>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
        <h2 class="content-head content-head-ribbon">Authenticate via OAuth</h2>
        <p>
          <ul>
            <li>By default, only HTTP Auth is enabled. To enable OAuth, have your administrator set the 'OAUTH_ENABLED' flag to true in settings.py</li>                
            <li>While registering, submit the name and description of the client you wish to authorize</li>
            <li>Once submitted, you will receive a client ID and client secret. Use these with the appropriate OAuth
              headers to perform the initial handshake to gain your temporary token. ({% url oauth:oauth_provider.views.request_token %}) <b>NOTE: If you are not familiar with OAuth, please consult the <a target="_blank" href="https://github.com/adlnet/xAPI-Spec/blob/master/xAPI.md">spec</a> and the OAuth 1.0 <a target="_blank" href="http://tools.ietf.org/html/rfc5849">RFC</a></b></li>
            <li>You'll then receive your request token. Use this when visiting the authentication page ({% url oauth:oauth_provider.views.user_authorization %}). An LRS OAuth ID will be issued to you for you to POST back to the authentication page from your client</li>
            <li>Once the client is authenticated, send the appropriate OAuth headers and values from your token to gain an access token.({% url oauth:oauth_provider.views.access_token %})</li>
            <li>You can now send this access token in with the OAuth headers when making calls to the LRS system</li>
          </ul>
          <a class="pure-button" href="{% url lrs.views.reg_client %}">Register OAuth1 Client</a>
        </p>
    </div>
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <i class="fa fa-cog home-icon"></i>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
        <h2 class="content-head content-head-ribbon">Authenticate via OAuth2</h2>
        <p>
          <ul>
            <li>By default, only HTTP Auth is enabled. To enable OAuth, have your administrator set the 'OAUTH_ENABLED' flag to true in settings.py</li>                
            <li>While registering, submit the name, client url, redirect url, and type of the client you wish to authorize</li>
            <li>Once submitted, you will receive a client ID and client secret. Use these with the appropriate OAuth2
              headers to authorize. (/XAPI/oauth2/authorize) <b>NOTE: If you are not familiar with OAuth2, please consult the the OAuth 2.0 <a target="_blank" href="https://tools.ietf.org/html/rfc6749">RFC</a></b></li>
            <li>Once the client is authenticated, send the appropriate OAuth2 headers and values from your token to gain an access token.(/XAPI/oauth2/access_token)
            </li>
            <li>You can now send this access token in with the OAuth2 headers when making calls to the LRS system</li>
          </ul>
          <a class="pure-button" href="{% url lrs.views.reg_client2 %}">Register OAuth2 Client</a>
        </p>        
    </div>
  </div>
  <div class="content">
    <h2 class="content-head is-center">Sign up for HTTP Basic Credentials</h2>
      <div class="pure-g">
          <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
              <form class="pure-form pure-form-stacked" action="{% url lrs.views.register %}" method="post">
                  {% csrf_token %}
                  <fieldset>
                      {% for field in form %}
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% if field.name == 'username' %}
                          <input id="{{ field.auto_id }}" name="{{ field.html_name }}" class="pure-input" type="text" placeholder="Your Username" required>
                        {% elif field.name == 'email' %}
                          <input id="{{ field.auto_id }}" name="{{ field.html_name }}" class="pure-input" type="email" placeholder="Your Email" required>
                        {% else %}
                          <input id="{{ field.auto_id }}" name="{{ field.html_name }}" class="pure-input" type="password" placeholder="Your Password" required>
                        {% endif %}
                      {% endfor %}
                      <button type="submit" class="pure-button pure-button-primary">Sign Up</button>
                  </fieldset>
              </form>
          </div>
          <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
              <h4>Register</h4>
              <p>
                  Registration is used to enable HTTP Basic Authentication. Without using secure sockets (SSL), this authentication scheme is likely not secure enough for most production systems. Please do not register using sensitive names and passwords. Assume all data provided here is public. After you register a user, you can use the HTTP_AUTHORIZATION header with your encoded username and password.
              </p>
              <h4>More Information</h4>
              <p>
                  For more information or questions, please contact us at helpdesk@adlnet.gov.
              </p>
          </div>
      </div>
  </div>
  <div class="footer l-box is-center">
      <img class="brand" height="35" width="auto" class="pure-img" src="{{ STATIC_URL }}/img/adllogo.png" alt="experience api logo"/> Advanced Distributed Learning
      <p>This is an official website of the U.S. Government &copy; Advanced Distributed Learning</p>
  </div>
</div>
{% endblock content %}