{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
<style>
    pre {
        border: 1px solid;
        border-color: #004C1A;
        padding: 5px;
        margin: 5px;
        font-size: 13px;
        border-radius: 10px;
    }
    .string { 
        color: green; 
    }
    .number { 
        color: blue; 
    }
    .boolean { 
        color: red; 
    }
    .null {
     color: red; 
    }
    .key {
     color: black; 
    }
</style>
{% endblock extra_css %}
{% block title %}{{user.username}}'s Statements{% endblock title %}
{% block heading %}{{user.username}}'s Statements{% endblock heading %}
{% block content %}
<br>
<br>
<div class="content">
    <div class="pure-g">
        <div class="pure-u-1-4 pure-u-md-1-4 pure-u-lg-1-4"></div>
        <div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-2">
            <div id="mystatements" class="content">
                <h2>My Statements</h2>
                <br>
                <br>
                {% include page_template %}            
            </div>
        </div>
        <div class="pure-u-1-4 pure-u-md-1-4 pure-u-lg-1-4"></div>
    </div>
</div>        
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/extra-data.js"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>
    $.endlessPaginate({
        paginateOnScroll: true,
        onCompleted: function(context, fragment){
            styleData();
        }
    });
</script>
{% endblock extra_js %}