{% extends "base.html" %}
{% block title %}Application Access Approval{% endblock title %}
{% block heading %}Application Access Approval{% endblock heading %}
{% block content %}
        <p>
            The application is requesting access to the following scopes. Although you can 
            change the scope, note that you can only limit the access further. You can not 
            give the application greater permissions than the scopes selected when the 
            applicaton was registered.
        </p>
        {% if form.non_field_errors %}
        <p class="error">
            <strong>{{ form.non_field_errors }}</strong>
        </p>
        {% endif %}
        <form action="{% url oauth:oauth_provider.views.user_authorization %}{% if params %}?{{ params }}{% endif %}" method="post">
            <span>{{ form.authorize_access }}{{ form.obj_id }}</span>
            <p><h3>Application:</h3>
                {{ name }}</p>
            <p><h3>Description:</h3>
                {{ description }}</p>
            <p><h3>Scope:</h3>
                {% for scope in form.scopes %}
                {{ scope }}        
                {% endfor %}
            <input type='hidden' name="oauth_token" value="{{ oauth_token }}" />
            </p>
            <input type="submit" value="Register" />
        </form>
{% endblock content %}