{% extends "base.html" %}
{% block title %}Registraton Success{% endblock title %}
{% block heading %}Thanks{% endblock heading %}
{% block content %} 
<div class="content results">
    {% if info_message %}
        {{info_message|safe}}
    {% endif %}
    {% if name %}
        <br/>Client Name: {{name}}
    {% endif %}
    {% if app_id %}
        <br/>Client Identifier: {{app_id}}
    {% endif %}
    {% if secret %}
        {% if not rsa %}
        <br/>Client Shared-Secret: {{secret}}
        {% else %}
        <br/>RSA key pair: Your RSA key pair
        {% endif %}    
    {% endif %}
</div>
<br/>
<div>
    <a class="btn btn-primary" href="{% url lrs.views.home %}">Home</a>
</div>
{% endblock content %}