{% extends "base.html" %}
{% block title %}ADL LRS Client Registration{% endblock title %}
{% block heading %}ADL LRS Client Registration{% endblock heading %}
{% block extra_css %}
<script>loadCSS("{{ STATIC_URL }}css/extra.css")</script>
<noscript><link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css"></noscript>
{% endblock extra_css %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
    	<div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
	    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
		    <h3 class="content-subhead">OAuth2 Client Registration</h3>
			<p>
				Registration is used to enable OAuth Authentication. Without using secure sockets (SSL), this authentication scheme is likely not secure enough for most production systems. Please do not register using sensitive names and passwords. Assume all data provided here is public. After you register your client and follow the OAuth process, you will be able to send data back and forth from the LRS to your client.
			</p>		
	        {% if form.non_field_errors %}
	            {{ form.non_field_errors }}
	        {% endif %}
		    <form class="pure-form pure-form-stacked" action="{% url lrs.views.reg_client2 %}" method="post">
		      {% csrf_token %}
		      <fieldset>
		          {% for field in form %}
   	                <label for="{{ field.auto_id }}">{{ field.label }}</label>            
		            {% if field.name == 'name' %}
		              <input id="{{ field.auto_id }}" name="{{ field.html_name }}" class="pure-input-1-2" type="text">
		            {% elif field.name == 'client_type' %}
		          	  <select id="{{ field.auto_id }}" name="{{ field.html_name }}" required>
		          	  	{% for choice in field.field.choices %}
		          	  		<option value="{{ choice.0 }}">{{ choice.1 }}</option>
		          	  	{% endfor %}
		          	  </select>
		            {% else %}
		              <input id="{{ field.auto_id }}" name="{{ field.html_name }}" class="pure-input-1-2" type="text">
		            {% endif %}
		          {% endfor %}
		          <button type="submit" class="pure-button pure-button-primary">Register</button>
		      </fieldset>
		    </form>
		</div>
		<div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
	</div>
</div>
{% endblock content %}