{% extends "base_lrs.html" %}
{% block title %}ADL LRS Registration{% endblock title %}
{% block heading %}ADL LRS Registration{% endblock heading %}
{% block content %}
<p>
    Registration is used to enable HTTP Basic Authentication. Without using secure sockets (SSL), this authentication scheme is likely not secure enough for most production systems. Please do not register using sensitive names and passwords. Assume all data provided here is public. After you register a user, you can use the HTTP_AUTHORIZATION header with your encoded username and password.
</p>
{% if error_message %}
<p class="error">
    <strong>{{ error_message }}</strong>
</p>
{% endif %}
<h3>Register</h3>
<form action="{% url 'vendor.xapi.lrs.views.register' %}" method="post">
    <table>
        {% include 'table_form.html' %}
    </table>
    <input type="submit" value="Register" />
</form>
{% endblock content %}