<html>
    <body>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />
        </head>
        <div id="container">
            <h1>ADL LRS Registration</h1>
            <div id="content">
                <p>Registration is used to enable HTTP Basic Authentication. Without using secure sockets (SSL), this authentication scheme is likely not secure enough for most production systems. Please do not register using sensitive names and passwords. Assume all data provided here is public.</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url lrs.views.register %}" method="post">
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Register" />
                </form>
            </div>
        </div>
    </body>
</html>

