{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
{% endblock extra_css %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
    	<div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
	    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
		    <h3 class="content-subhead">Enter JSON to validate</h3>
		    <p>The validator will fix small JSON syntax errors as well as provide optional fields if not included</p>
	        {% if error_message %}
	          <ul class="errorlist">
	            <li>{{ error_message }}</li>
	          </ul>
	        {% endif %}
	        {% if form.non_field_errors %}
	            {{ form.non_field_errors }}
	        {% endif %}
			{% if valid_message %}
	          <ul class="formvalid">
	            <li>{{ valid_message }}</li>
	          </ul>
			{% endif %}
			<form class="pure-form pure-form-stacked" action="{% url adl_lrs.views.stmt_validator %}" method="post">
				{% csrf_token %}
                  <fieldset>
                      {% for field in form %}
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        <textarea id="{{ field.auto_id }}" name="{{ field.html_name }}" rows="20" cols="100" class="pure-input-1" required>{{ clean_data }}</textarea>
                      {% endfor %}
                      <button type="submit" class="pure-button pure-button-primary">Validate</button>
                  </fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock content %}