.datacontainer {
border: solid;
border-color: #6FBEF3;
border-width: 2px;
border-radius: 15px 50px;
padding: 20px; 
}

.deletestmts {
	margin-left: 5px;
}

.formerror{
	color: #FF0000;
	font-weight: bold;
}

.formvalid{
	color: #008000;
	font-weight: bold;
}

.errorlist{
	color: #FF0000;
	font-weight: bold;
}