{% extends "base.html" %}
{% load jsonify %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
<style>
    pre {
        white-space: pre-wrap;       /* CSS 3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    .string { 
        color: green; 
    }
    .number { 
        color: blue; 
    }
    .boolean { 
        color: purple; 
    }
    .null {
     color: red; 
    }
    .key {
     color: black; 
    }
</style>
{% endblock extra_css %}
{% block title %}{{user.username}}'s Statements{% endblock title %}
{% block heading %}{{user.username}}'s Statements{% endblock heading %}
{% block content %}
<br>
<br>
<div class="content">
    <div class="pure-g">
        <div class="pure-u-1-6 pure-u-md-1-6 pure-u-lg-1-6"></div>
        <div class="pure-u-2-3 pure-u-md-2-3 pure-u-lg-2-3">
            <div id="mystatements" class="content">
                <h2>My Statements</h2>
                <br>
                <br>
                {% if statements %}
                    <div class="email-item">
                        {% for stmt in statements %}
                            <div class="datacontainer pure-u">
                                <h4 class="email-name"><span class="actor">{{ stmt.actor.get_a_name }}</span> <span class="verb">{{ stmt.verb.get_a_name }}</span> <span class="object">{% if stmt.object_statementref %}{{ stmt.get_object.id }}{% else %}{{ stmt.get_object.get_a_name }}{% endif %}</span></h4>
                                <h5 class="email-subject">{{ stmt.timestamp }}</h5>
                                <h5 class="email-subject">{{ stmt.statement_id }}</h5>
                                <p class="email-desc">
                                    <pre id="stmt" class="jsonpre">{{ stmt.to_dict|jsonify }}</pre>
                                </p>
                            </div>
                            <br>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if statements.has_previous %}
                                <a href="?page={{ statements.previous_page_number }}">Previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ statements.number }} of {{ statements.paginator.num_pages }}
                            </span>
                            {% if statements.has_next %}
                                <a href="?page={{ statements.next_page_number }}">Next</a>
                            {% endif %}                            
                        </span>
                    </div>
                {% else %}
                    No statements to display
                {% endif %}            
            </div>
        </div>
        <div class="pure-u-1-6 pure-u-md-1-6 pure-u-lg-1-6"></div>
    </div>
</div>        
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/extra-data.js"></script>
{% endblock extra_js %}
