{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ADL's open LRS">

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
      <link rel="stylesheet" href="{% static "css/marketing-old-ie.css" %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
      <link rel="stylesheet" href="{% static "css/marketing.css" %}">
    <!--<![endif]-->
    {% block extra_css %}{% endblock extra_css %}
    <title>{% block title %}ADL LRS{% endblock title %}</title>
</head>

<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <div class="pure-g">
          <div class="pure-u-1-2">
            <!-- <a class="pure-menu-heading" href="{% url 'home' %}">ADL LRS</a> -->
            <a class="pure-menu-heading" href="https://www.adlnet.gov/">ADLNET.GOV</a>
          </div>
          <div class="pure-u-1-2">
            <ul class="pure-menu-list">
                {% if user.is_authenticated %}
                  <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'me' %}">My Account</a></li>
                  <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="{% url 'login' %}" id="menuLink1" class="pure-menu-link">Login</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="{% url 'register' %}" class="pure-menu-link">Register</a></li>
                    </ul>
                  </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </div>
  </div>
{% block content %}{% endblock content %}
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
