{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Application Access Approval{% endblock title %}
{% block heading %}Application Access Approval{% endblock heading %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/extra.css" %}">
{% endblock extra_css %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
        <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            <h3 class="content-subhead">Application Access Approval</h3>
            <p>
                The application is requesting access to the following scopes. Although you can 
                change the scope, note that you can only limit the access further. You can not 
                give the application greater permissions than the scopes selected when the 
                applicaton was registered.
            </p>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %} 
            <form class="pure-form pure-form-stacked" action="{% url 'lrs:oauth:user_authorization' %}{% if params %}?{{ params }}{% endif %}" method="post">
                <fieldset>
                    <legend>{{ form.authorize_access }}{{ form.obj_id }}</legend>
                    <label for="name">Application</label>
                    <input id="name" type="text" value="{{ name }}" readonly>
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="pure-input-1" readonly>{{ description }}</textarea>
                    <label>Scope</label>
                    {% for scope in oauth_scopes %}
                          <label for="{{ scope.1 }}" class="pure-checkbox">{{ scope.1 }}
                            <input id="{{ scope.1 }}" name="scopes" type="checkbox" value="{{ scope.1 }}">
                          </label>                        
                    {% endfor %}
                    <input type='hidden' name="oauth_token" value="{{ oauth_token }}" />
                    <button type="submit" class="pure-button pure-button-primary">Register</button>
                </fieldset>
            </form>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- For styling scope widget stays in file b/c of server scope rendering -->
<script type="text/javascript">
    $(document).ready(function(){
        var allowed_scopes = {{ scopes|safe }};
        $.each(allowed_scopes, function(index, value){
            var id = "#" + value.replace(/ |\//g, "\\/");
            $(id).prop('checked', true);
        });
    });
</script>
<script type="text/javascript" src="{% static "scripts/extra-forms.js" %}"></script>
{% endblock extra_js %}
