{% extends "base.html" %}
{% block title %}Registraton Success{% endblock title %}
{% block heading %}Thanks{% endblock heading %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
        <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
            {% if info_message %}
                <p>{{info_message|safe}}</p>
            {% endif %}
            {% if name %}
                <p>Client Name: {{name}}</p>
            {% endif %}
            {% if app_id %}
                <p>Client Identifier: {{app_id}}</p>
            {% endif %}
            {% if secret %}
                {% if not rsa %}
                <p>Client Shared-Secret: {{secret}}</p>
                {% else %}
                <p>RSA key pair: Your RSA key pair</p>
                {% endif %}    
            {% endif %}
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
    </div>
</div>
{% endblock content %}