{% extends "base.html" %}
{% block title %}ADL LRS Login{% endblock title %}
{% block heading %}ADL LRS Login{% endblock heading %}
{% block content %}
{% if error_message %}
<p class="error">
    <strong>{{ error_message }}</strong>
</p>
{% endif %}
<h3>Login <span style="font-size: 75%">(<a href="{% url lrs.views.register %}">register</a>)</span></h3>
<form method="post">{% csrf_token %}
    <table>
        {% include 'table_form.html' %}
    </table>
    <input type="submit" value="Login" />
</form>
{% endblock content %}