{% extends "base.html" %}
{% block title %}ADL LRS Reset{% endblock title %}
{% block heading %}ADL LRS Reset{% endblock heading %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
{% endblock extra_css %}
{% block content %}
<br>
<div class="content">
	<div class="pure-g">
		<div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
		<div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
			<h3 class="content-subhead">LRS Password Reset</h3>
			<p>Forgotten your password? Enter your email address below and we'll send you a link to reset it</p>
			<form class="pure-form pure-form-stacked" action="" method="post">
				{% csrf_token %}
				{{ form.email.errors }}
				<fieldset>
					<legend>Enter your email address to reset your password:</legend>
					<label for="id_email">Email Address</label>

					{{ form.email }}

					{% if use_recaptcha %}

					<script src='https://www.google.com/recaptcha/api.js'></script>
					<div class="g-recaptcha ml-3 mt-3 " id="gcap" data-theme="dark" data-sitekey="{{ google_recaptcha_site_key }}"></div>

					{% endif %}
					
					<button type="submit" class="pure-button pure-button-primary">Send</button>
				</fieldset>
			</form>
		</div>
		<div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
	</div>
</div>
{% endblock content %}