{% extends "base.html" %}
{% block title %}ADL LRS Reset Confirmation{% endblock title %}
{% block heading %}ADL LRS Reset Confirmation{% endblock heading %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
{% endblock extra_css %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
        <h3 class="content-subhead">LRS Password Reset Confirmation</h3>
		{% if validlink %}
			<p>Please enter your new password twice so we can verify you typed it in correctly</p>
		    <form class="pure-form pure-form-stacked" action="" method="post">
		        {% csrf_token %}
		        {{ form.new_password1.errors }}
		        {{ form.new_password2.errors }}
		        <fieldset>
		        	<legend>Create and confirm your new password:</legend>
		                <label for="id_new_password1">Password</label>
		                {{ form.new_password1 }}
		                <label for="id_new_password2">Confirm Password</label>
		                {{ form.new_password2 }}      
		            <button type="submit" class="pure-button pure-button-primary">Change</button>
		        </fieldset>
		    </form>
		 {% else %}
		 	<h4>Password reset unsuccessful</h4>
		 	<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.</p>
		 	<p><a href="{% url 'reset_password_reset' %}">Reset Password</a></p>
		 {% endif %}
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
    </div>
</div>
{% endblock content %}